.modal {
    position: fixed;
    z-index: 2;
    top: 30%;
    left: 50%;
    width:100%;
    max-width: 980px;
    min-height: 920px;
    margin: 0 20px;
    padding: 60px;
    transform: translate(-50%,-30%);
    background-color: #232323;
}

.modal-heading {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    opacity: 0.8;
    color: #f65261;
    mix-blend-mode: normal;
}

.modal-input {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    padding: 18px;
    opacity: 0.8;
    color: white;
    border-radius: 4px;
    background-color: rgba(50, 50, 50, 0.95);
    mix-blend-mode: normal;
}

.modal-input-overview {
    min-height: 200px;
}

.modal-col-left {
    width: 100%;
    max-width: 530px;
    position: relative;
}

.modal-col-right {
    width: 100%;
    max-width: 300px;
    position: relative;
}

.reset-btn {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    max-width: 180px;
    margin-right: 15px;
    padding: 20px;
    text-transform: uppercase;
    color: #f65261;
    border: 2px solid #F65261;
    border-radius: 4px;
}

.submit-btn {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    max-width: 180px;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #f65261 !important;
}


