.header-section {
    min-height: 400px;
    padding-top: 20px;
    background: url("../../assets/bkg.png") no-repeat center/cover;
    background-color: #232323;
    backdrop-filter: blur(4px);
    mix-blend-mode: normal;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    line-height: 24px;
    margin: 0;
    color: #f65261;
}

.logo > span {
    font-weight: 500;
}

.add-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    width: auto;
    padding: 11px 18px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #f65261;
    border: none;
    border-radius: 4px;
    background: rgba(96, 96, 96, 0.68);
}

.search-title {
    font-size: 40px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}

.search-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    width: auto;
    padding: 12px 74px;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    background: #f65261;
}

.search-input {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    width: 100%;
    max-width: 714px;
    margin-right: 65px;
    padding: 12px 20px;
    opacity: 0.7;
    color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 4px;
    background: rgba(50, 50, 50, 0.8);
    mix-blend-mode: normal;
}

.search-input-inner-container {
    width: 100%;
    max-width: 960px;
}
