.modal {
    position: fixed;
    z-index: 2;
    top: 30%;
    left: 50%;
    width:100%;
    max-width: 690px;
    min-height: 320px;
    margin: 0 20px;
    padding: 60px;
    transform: translate(-50%,-30%);
    background-color: #232323;
}

.modal-img {
    width: 66px;
    height: 66px;
}


