@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #ffffff;
    background-color: #424242;

}

img {
    display: block;
    width: 100%;
    height: auto;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
}

.main-section {
    background-color: #232323;
}

